[Unit]
Description=Manage VM hosts and networks in DataCentred's staging environment
Requires=network.target

[Service]
EnvironmentFile=/etc/default/staging-compute
ExecStart=/usr/share/staging-compute/bin/staging-compute

[Install]
WantedBy=multi-user.target
